.header {
  position: fixed;
  z-index: 12;
  width: 100%;
  background-color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 116px;
  }

  &__user-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    @media (max-width: $mobile-point2) {
      width: 120px;
    }
    @media (max-width: $mobile-point3) {
      width: 70px;
    }
  }

  &__user-info {
    &:hover {
      @extend %Hover;
    }
  }

  &__search {
    &:hover {
      @extend %Hover;
    }
  }

  &__cart {
    display: flex;
    position: relative;
    top: -2px;
    &:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
    .cart-count {
      position: absolute;
      bottom: -5px;
      left: 4px;
      display: none;
      justify-content: center;
      width: 13px;
      height: 13px;
      color: white;
      background-color: red;
      border-radius: 50%;
      font-family: $Montserrat;
      font-weight: 500;
      font-size: 10px;
      &__active {
        display: flex;
      }
    }
  }
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  // padding-left: 160px;
  @media (max-width: $mobile-point1) {
    padding-left: 20px;
  }
  @media (max-width: $mobile-point2) {
    font-size: 18px;
  }
}
.header-nav {
  display: flex;
  width: 372px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mobile-point1) {
    display: none;
  }
  &__link {
    text-transform: uppercase;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    transition: 0.3s;
    &_active {
      font-weight: 700;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.header {
  &__burger-menu {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 12;

    @media (min-width: $mobile-point1) {
      display: none;
    }
  }
  &__burger-logo {
    @media (max-width: $mobile-point2) {
      font-size: 18px;
    }
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    padding-right: 20px;
    align-items: center;
    transition: all 5s ease 0s;
    &:hover {
      @extend %Hover;
    }
    &:active {
      @extend %active;
    }
  }
  &__burger-body {
    display: none;
    position: absolute;
    width: 100vw;
    top: 69px;
    right: 0;
    background-color: rgba(239, 238, 246, 0.9);
    transition: all 0.3s ease 0s;
  }

  &__burger-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__burger-link {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px 30px 10px;
    text-transform: uppercase;
    font-family: $Montserrat;
    font-weight: 500;
    line-height: 12px;
    &:hover {
      @extend %Hover;
    }
    &:active {
      @extend %active;
    }
  }
}

.used {
  padding-left: 20px;
  padding-right: 0;
  color: $main-gray;
  transform: rotate(180deg) !important;
}

.shown {
  display: block;
  right: -5px;
  // transform: translate(0px 10px);
}
