.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  height: 116px;
  transition: 0.3s;
  position: fixed;
  z-index: 22;
  width: 100%;
  &__user-block {
    position: relative;
    // order: 3;
    display: flex;
    padding-right: 160px;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    @media (max-width: $mobpoint1+px) {
      padding-right: 0;
    }
  }

  &__user-info {
    &:hover {
      @extend %Hover;
    }
  }

  &__search {
    &:hover {
      @extend %Hover;
    }
  }

  &__cart {
    display: flex;
    position: relative;
    &:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
    .cart-count {
      position: absolute;
      bottom: -5px;
      left: 4px;
      display: none;
      justify-content: center;
      width: 13px;
      height: 13px;
      color: white;
      background-color: red;
      border-radius: 50%;
      font-family: $Montserrat;
      font-weight: 500;
      font-size: 10px;
      &__active {
        display: flex;
      }
    }
  }
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  padding-left: 160px;
  @media (max-width: $mobpoint1+px) {
    padding-left: 20px;
  }
}
.header-nav {
  display: flex;
  width: 372px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mobpoint1+px) {
    display: none;
  }
  &__link {
    text-transform: uppercase;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    transition: 0.3s;
    &_active {
      font-weight: 700;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.header {
  &__burger-menu {
    position: relative;
    display: flex;
    align-items: center;

    @media (min-width: $mobpoint1+px) {
      display: none;
    }
  }
  &__burger-logo {
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    padding-right: 20px;
    align-items: center;
  }

  &__burger-body {
  }

  &__burger-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(239, 238, 246, 0.7);
    position: absolute;
    width: ;
    right: 0;
    top: 100px;
  }

  &__burger-link {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0 10px 10px;
  }
}
