.posters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 116px;
  @media (max-width: $mobile-point1) {
    padding-top: 70px;
  }
}
.poster-items {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  justify-self: flex-start;
  padding-bottom: 17px;
  &__item {
    display: none;
    width: 100%;
    position: relative;
    &_active {
      display: block;
    }
  }
  & img {
    width: 100%;
  }
}

.sliderdotz {
  width: 56px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 105px;
  @media (max-width: $laptop-point) {
    padding-bottom: 20px;
  }
  @media (max-width: $mobile-point1) {
    width: 50%;
  }
  &__item {
    background-color: #efeef6;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    cursor: pointer;
    &_active {
      background-color: #9e98dc;
    }
    &:hover {
      @extend %Hover;
    }
    @media (max-width: $mobile-point2) {
      width: 20px;
      height: 20px;
    }
  }
}

.tabbed {
  border: 1px solid #eeedf5;
  color: #5c6a79;
}

.poster-promo-wraper {
  @media (max-width: $laptop-point) {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0px;
  }
  @media (max-width: 544px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
}

.poster-promo {
  &__block1 {
    @media (max-width: $laptop-point) {
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      top: 0;
      right: 0;
      z-index: 0;
      align-items: center;
      box-shadow: none;
    }
    position: absolute;
    width: 149px;
    height: 204px;
    background-color: #9e98dc;
    font-family: $Montserrat;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    top: 196px;
    right: -90px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 25px 20px -15px rgba(185, 185, 185, 0.6);
    & p {
      padding-top: 100px;
      padding-left: 20px;
      max-width: 80%;
      @media (max-width: $laptop-point) {
        padding: 15px 5px;
      }
      @media (max-width: $teblet-point) {
        padding: 15px 5px;
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        justify-content: space-between;
      }
      @media (max-width: $mobile-point1) {
        text-align: center;
      }
    }
    & .arrow {
      padding-left: 20px;
    }
    @media (max-width: $laptop-point) {
      // padding: 5px;
    }
  }

  &__block2 {
    @media (max-width: $laptop-point) {
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      top: 0;
      right: 0;
      z-index: 0;
      align-items: center;
      box-shadow: none;
    }

    position: absolute;
    width: 137px;
    height: 273px;
    background-color: #ff8fe6;
    font-family: $Montserrat;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    top: 478px;
    right: -155px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 25px 20px -15px rgba(185, 185, 185, 0.6);
    & p {
      padding-top: 149px;
      padding-left: 20px;
      max-width: 50%;
      @media (max-width: $laptop-point) {
        padding: 15px 5px;
      }
      @media (max-width: $teblet-point) {
        padding: 15px 5px;
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        justify-content: space-between;
      }
      @media (max-width: $mobile-point1) {
        text-align: center;
      }
    }
    & .arrow {
      padding-left: 20px;
      @media (max-width: $laptop-point) {
        // padding: 5px;
      }
    }
  }
}

.shop-block {
  display: flex;
  position: relative;
}
