.book-list {
  width: 416px;
  height: 710px;
  background-color: #efeef6;
  display: flex;
  flex-direction: column;
  @media (max-width: $laptop-point) {
    width: 20%;
    height: 650px;
  }
  @media (max-width: $teblet-point) {
    width: 25%;
  }
  @media (max-width: 544px) {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
  }
  & :first-child {
    margin-top: 45px;
    @media (max-width: 544px) {
      margin-top: 0px;
    }
  }
  & :last-child {
    padding-bottom: 0px;
    @media (max-width: 544px) {
      padding-bottom: 10px;
    }
  }
  &__list-item {
    padding-left: 160px;
    font-family: $Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #5c6a79;
    padding-bottom: 23px;
    cursor: pointer;
    @media (max-width: $laptop-point) {
      margin-left: 0;
      padding-left: 45px;
    }
    @media (max-width: 544px) {
      background-color: #9e98dc;
      padding: 10px;
      margin: 5px 10px;
      border-radius: 5px;
      color: white;
    }
    &:hover {
      @extend %Hover;
      @media (max-width: 544px) {
        transform: scale(1);
        text-decoration: underline;
      }
    }
    &_active {
      position: relative;
      font-size: 16px;
      font-weight: 700;
      color: #1c2a39;
      @media (max-width: 544px) {
        transform: scale(1);
        font-size: 12px;
        color: black;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 140px;
        top: 4px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #756ad3;
        @media (max-width: $laptop-point) {
          left: 25px;
        }
        @media (max-width: 544px) {
          display: none;
        }
      }
    }
  }
}

.shop-block {
  @media (max-width: 544px) {
    display: flex;
    flex-direction: column;
  }
}

.books-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25px;
  left: 356px;
  @media (max-width: $laptop-point) {
    top: 15px;
    left: 18%;
  }
  @media (max-width: 1148px) {
    top: 30px;
    left: 35%;
  }
  @media (max-width: 544px) {
    position: relative;
    top: 30px;
    padding: 10px;
    left: 0;
  }

  & button {
    @extend %button-style;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.cards-block {
  display: grid;
  grid-template-columns: 424px 424px;
  grid-template-rows: 300px 300px 300px;
  row-gap: 96px;
  column-gap: 74px;
  margin-bottom: 96px;
  @media (max-width: 1148px) {
    grid-template-columns: 424px;
    grid-template-rows: 300px 300px 300px;
    row-gap: 30px;
    column-gap: 0px;
    justify-content: center;
  }
  @media (max-width: 544px) {
    grid-template-columns: 362px;
    margin-bottom: 30px;
  }
  @media (max-width: $mobile-point3) {
    grid-template-columns: 340px;
  }
  &__button {
    @extend %button-style;
  }

  &__cards-item {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    @media (max-width: 544px) {
      justify-content: center;
      gap: 10px;
    }
  }
}

.button__tabbed {
  color: rgba(92, 106, 121, 1) !important;
  border: 1px solid rgba(92, 106, 121, 0.4) !important;
}

.cards-item {
  &__img {
    width: 212px;
    height: 300px;
    @media (max-width: 544px) {
      width: 163px;
      height: 230px;
    }

    & img {
      width: 100%;
      height: 100%;
      box-shadow: 0px 25px 20px -15px rgba(66, 66, 66, 0.685);
    }
  }

  &__info {
    width: 176px;
    height: 203px;
    margin-left: 36px;
    margin-top: 49px;
    // border: 1px solid black;
    @media (max-width: 544px) {
      margin: 0 10px 10px 10px;
      width: 150px;
      // padding-right: 10px;
    }
    @media (max-width: $mobile-point3) {
      margin: 0 5px 10px 5px;
      width: 120px;
      // padding-right: 10px;
    }
  }

  &__author {
    font-family: $open-sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 4px;
  }

  &__title {
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__grade-block {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
    width: 100%;
  }

  &__stars {
    position: relative;
    &::before {
      content: "★★★★★";
      display: block;
      color: gray;
    }
    &_active {
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      &::before {
        content: "★★★★★";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: gold;
      }
    }
  }

  &__views {
    margin-left: 5%;
    font-family: $open-sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
  }

  &__disc {
    font-family: $open-sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__price {
    font-family: $Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 16px;
  }
}
