@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Nunito+Sans:wght@300;400&family=Yeseva+One&display=swap");
.book-list__list-item:hover, .sliderdotz__item:hover, .header__search:hover, .header__user-info:hover, .cards-block__button:hover, .books-block button:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.cards-block__button:active, .books-block button:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.cards-block__button, .books-block button {
  width: 176px;
  height: 45px;
  border: 1px solid #4c3db2;
  background-color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: #4c3db2;
}
.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  height: 116px;
  transition: 0.3s;
  position: fixed;
  z-index: 22;
  width: 100%;
}
.header__user-block {
  position: relative;
  display: flex;
  padding-right: 160px;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
@media (max-width: 1000px) {
  .header__user-block {
    padding-right: 0;
  }
}
.header__cart {
  display: flex;
  position: relative;
}
.header__cart:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.header__cart .cart-count {
  position: absolute;
  bottom: -5px;
  left: 4px;
  display: none;
  justify-content: center;
  width: 13px;
  height: 13px;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.header__cart .cart-count__active {
  display: flex;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  padding-left: 160px;
}
@media (max-width: 1000px) {
  .header-logo {
    padding-left: 20px;
  }
}

.header-nav {
  display: flex;
  width: 372px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .header-nav {
    display: none;
  }
}
.header-nav__link {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  transition: 0.3s;
}
.header-nav__link_active {
  font-weight: 700;
}
.header-nav__link:hover {
  transform: scale(1.1);
}

.header__burger-menu {
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 1000px) {
  .header__burger-menu {
    display: none;
  }
}
.header__burger-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  padding-right: 20px;
  align-items: center;
}
.header__burger-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(239, 238, 246, 0.7);
  position: absolute;
  width: 100%;
  right: 0;
  top: 100px;
}
.header__burger-link {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0 10px 10px;
}

.posters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-items {
  display: inline-flex;
  position: relative;
  width: 1120px;
  overflow: hidden;
  justify-self: flex-start;
  margin-bottom: 17px;
}
.poster-items__item {
  display: none;
  height: 100%;
  position: relative;
}
.poster-items__item_active {
  display: block;
}

.sliderdotz {
  width: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}
.sliderdotz__item {
  background-color: #efeef6;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.sliderdotz__item_active {
  background-color: #9e98dc;
}
.tabbed {
  border: 1px solid #eeedf5;
  color: #5c6a79;
}

.poster-promo__block1 {
  position: absolute;
  width: 149px;
  height: 204px;
  background-color: #9e98dc;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  top: 82px;
  right: 60px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 25px 20px -15px rgba(185, 185, 185, 0.6);
}
.poster-promo__block1 p {
  padding-top: 100px;
  padding-left: 20px;
  max-width: 80%;
}
.poster-promo__block1 .arrow {
  padding-left: 20px;
}
.poster-promo__block2 {
  position: absolute;
  width: 137px;
  height: 273px;
  background-color: #ff8fe6;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  top: 362px;
  right: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 25px 20px -15px rgba(185, 185, 185, 0.6);
}
.poster-promo__block2 p {
  padding-top: 149px;
  padding-left: 20px;
  max-width: 50%;
}
.poster-promo__block2 .arrow {
  padding-left: 20px;
}

.shop-block {
  display: flex;
  position: relative;
}

.book-list {
  width: 416px;
  height: 710px;
  background-color: #efeef6;
  display: flex;
  flex-direction: column;
}
.book-list :first-child {
  margin-top: 45px;
}
.book-list :last-child {
  padding-bottom: 0px;
}
.book-list__list-item {
  margin-left: 160px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #5c6a79;
  padding-bottom: 23px;
  cursor: pointer;
}
.book-list__list-item_active {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #1c2a39;
}
.book-list__list-item_active::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -14px;
  top: 4px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #756ad3;
}

.books-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25px;
  left: 356px;
}
.books-block button {
  margin: 0 auto;
  margin-bottom: 20px;
}

.cards-block {
  display: grid;
  grid-template-columns: 424px 424px;
  grid-template-rows: 300px 300px 300px;
  row-gap: 96px;
  -moz-column-gap: 76px;
       column-gap: 76px;
  margin-bottom: 96px;
}
.cards-block__cards-item {
  display: flex;
  justify-content: space-between;
}

.button__tabbed {
  color: rgb(92, 106, 121) !important;
  border: 1px solid rgba(92, 106, 121, 0.4) !important;
}

.cards-item__img {
  width: 212px;
  height: 300px;
}
.cards-item__img img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 25px 20px -15px rgba(66, 66, 66, 0.685);
}
.cards-item__info {
  width: 176px;
  height: 203px;
  margin-left: 36px;
  margin-top: 49px;
}
.cards-item__author {
  font-family: "Open sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 4px;
}
.cards-item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}
.cards-item__grade-block {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  width: 100%;
}
.cards-item__stars {
  position: relative;
}
.cards-item__stars::before {
  content: "★★★★★";
  display: block;
  color: gray;
}
.cards-item__stars_active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.cards-item__stars_active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: gold;
}
.cards-item__views {
  margin-left: 5%;
  font-family: "Open sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}
.cards-item__disc {
  font-family: "Open sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cards-item__price {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 16px;
}

body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: black;
}
body p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
}

main {
  position: relative;
  top: 116px;
}

.hide-style {
  display: none;
}/*# sourceMappingURL=main.css.map */