//Google fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Nunito+Sans:wght@300;400&family=Yeseva+One&display=swap");

// Fonts Variables
$open-sans: "Open sans", sans-serif;
$Montserrat: "Montserrat", sans-serif;

body {
  & a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.container {
  min-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 116px;
  transition: 0.3s;
  &__user-block {
    display: flex;
    margin-right: 160px;
    align-items: center;
    justify-content: space-between;
    width: 120px;
  }

  &__user-info {
    &:hover {
      transition: 0.3s;
      transform: scale(1.2);
    }
  }

  &__search {
    &:hover {
      transition: 0.3s;
      transform: scale(1.2);
    }
  }

  &__cart {
    display: flex;
    &:hover {
      transition: 0.3s;
      transform: scale(1.2);
    }
    .cart-count {
      display: flex;
      justify-content: center;
      width: 13px;
      height: 13px;
      color: white;
      background-color: red;
      border-radius: 50%;
      font-family: $Montserrat;
      font-weight: 500;
      font-size: 10px;
    }
  }
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  margin-left: 160px;
}
.header-nav {
  display: flex;
  width: 372px;
  justify-content: space-between;
  align-items: center;
  &__link {
    text-transform: uppercase;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    transition: 0.3s;
    &_active {
      font-weight: 700;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}
.posters {
  display: flex;
}
.poster-items {
  &__item {
    width: 1120px;
    height: 702px;
  }
  &__img {
    width: 100%;
  }
}
.sliderdotz {
  &__item {
  }
}
.poster-promo {
  &__block1 {
  }

  &__block2 {
  }
}
.shop-block {
  &__button {
  }
}
.book-list {
  &__list-item {
    &_active {
    }
  }
}
.cards-block {
}
.cards-item {
  &__img {
  }

  &__info {
  }

  &__author {
  }

  &__title {
  }

  &__grade-block {
  }

  &__stars {
  }

  &__views {
  }

  &__disc {
  }

  &__price {
  }

  &__button {
  }
}
.button {
}
