// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Nunito+Sans:wght@300;400&family=Yeseva+One&display=swap");

//Variables
$open-sans: "Open sans", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$container-width: 1110px;
$laptop-point: 1420px;
$teblet-point: 1025px;
$mobile-point1: 769px;
$mobile-point2: 426px;
$mobile-point3: 376px;

//States
%Hover {
  transition: 0.3s;
  transform: scale(1.1);
}
%active {
  transition: 0.3s;
  transform: scale(0.9);
}
//Colors
$main-purple: #4c3db2;
$main-gray: rgb(239, 238, 246);

//Some elements
%button-style {
  width: 176px;
  height: 45px;
  border: 1px solid $main-purple;
  background-color: white;
  text-transform: uppercase;
  font-family: $Montserrat;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: $main-purple;
  &:hover {
    @extend %Hover;
  }
  &:active {
    @extend %active;
  }
}

//====================
