@import "vars";
@import "./blocks/header";
@import "./blocks/poster";
@import "./blocks/shop-block";

body {
  margin: 0;
  padding: 0;
  & a {
    text-decoration: none;
    color: black;
    // cursor: pointer;
  }
  & p {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  min-width: 320px;
}

.container {
  max-width: $container-width;
  border: 1px solid red;
  margin: 0 auto;
  padding: 0 5px;
}

main {
  position: relative;
}

.hide-style {
  display: none;
}
