@import "vars";
@import "./blocks/header";
@import "./blocks/poster";
@import "./blocks/shop-block";

body {
  margin: 0;
  padding: 0;
  & a {
    text-decoration: none;
    color: black;
    // cursor: pointer;
  }
  & p {
    margin: 0;
    padding: 0;
  }
}

.container {
  max-width: 1440px;
}

main {
  position: relative;
  top: 116px;
}
